//fontstyles

$headerfont:'Oswald', sans-serif;
$paragraphfont:'Abel', sans-serif;
$navbarfont:'Pacifico', cursive;

//font colors

$primaryfontcolor:#000;
$secondaryfontcolor:#fff ;
$tertiaryfontcolor:#696969;
$fourth-color:#f8b43f;

//backgound colors

$primarycolor:#fff;
$secondarycolor:#9dacb9;
$tertiarycolor:#231c3c;


