.product-description{
    width: 100vw;
    &__main{
        width: 80%;
margin: 5rem auto;
    }
}

//features

.features{
    width: 100vw;
    &-main{
        width: 80%;
        margin: 0 auto;
    }
}


