$defaultpadding:5% 10%;

.heading{
    color:$primaryfontcolor;
    font-family: $headerfont;
    font-size: 2rem;
}

.heading2{
    color:$primaryfontcolor;
    font-family: $headerfont;
    font-size: 1rem;
}
.paragraph{
    font-family: $paragraphfont;
    color: $primaryfontcolor;
    font-size: 1.2rem;
}

.heading3{
    color:$secondaryfontcolor;
    font-family: $headerfont;
    font-size: 1.5rem;
}